body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --black: #000000;
    --white: #fff;
    --green: #008000;
    --grey: #4f4e4e;
    --light-green: #04AA6D;
    --blue: #0f8cfa;
    --darkred: #903;
}

/*Top Nav*/
.topnav {
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #23c483;
    color: white;
    border: solid 1px #23c483;
}

.topnav a.active:active {
    background-color: var(--blue);
    color: var(--white);
}

.topnav-right {
    float: right;
}

/*Table Nav*/
.tablenav {
    padding-left: 16px;
    background-color: var(--grey);
    padding: 80px 5%;
    text-align: left;
    color: var(--white);
}

.tablenav-right {
    color: var(--white);
}

.tablenav img {
    width: 100px;
    border-radius: 100%;
}
